@inherits LayoutComponentBase

<!-- Шапка только с логотипом -->
<header class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm sticky-top" style="min-height: 70px;">
    <div class="container-fluid d-flex align-items-center">
        <NavLink class="navbar-brand fw-bold fs-2 my-brand me-4" href="/">
            PHOUG
        </NavLink>
    </div>
</header>

<!-- Основной контент страницы (например, ваша форма входа) -->
<main>
    @Body
</main>
